.barra-nav{
    background-color: #81c9fa;
}
.titulo{
    background-color: #b9ffff;
    padding: 2px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}
.text-nav{
    color:#003785;
    font-weight:bold;
    font-size: 20px;
}
.carousel-item {
    position:relative;
    height:70vh; /* Ajuste a altura do carousel conforme necessário */
}
.texto-car{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 3px #003785;
    width: 80%;
    max-width: 400px; /* Defina a largura máxima do texto */
    text-align: center;
  }
  .btn-car{
    text-decoration: none;
    border: 2px solid #81c9fa;
    border-radius: 8px;
    color:#fff;
    padding: 5px;
    background-color: #2196f3;
  }
  .card {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 20px;
    color:#003785;
    text-align: center;
  }
  .estilo-rodape{
    background-color: #81c9fa;
    padding: 2px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
  }