<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nossos Usuários</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link rel="stylesheet" type="text/css" href="../css/formStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="bg-primary bg-gradient">
      <nav class="navbar navbar-expand-lg barra-nav">
        <div class="container-fluid text-nav">
          <a class="navbar-brand" href="/">
            <img src="../midia/home.png" alt="Bootstrap" width="40" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
           title="pagina inicial">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/promocoes">Promoções</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/destinos">Destino</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
              </li>
              <li class="nav-item">
				  <a class="nav-link" href="/login">Entrar ↵</a>
			  </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Conteúdo-->
      <div class="text-nav titulo">
        <h2>Nossos Destinos</h2>
      </div>
      <div class="row p-3">
		  <div class=""col-sm-12"">
			  <table class="table table-responsive table-striped table-bordered">
				  <thead>
					  <tr>
						  <th>Código</th>
						  <th>Tipo</th>
						  <th>Destino</th>
						  <th>Descrição</th>
						  <th>Valor</th>
						  <th>Opções</th>
					  </tr>
				  </thead>
				  <tbody>
					  <tr th:each="destino : ${destino}">
						  <td th:text="${destino.idDestino}"></td>
						  <td th:text="${destino.titulo}"></td>
						  <td th:text="${destino.nomeDestino}"></td>
						  <td th:text="${destino.descricao}"></td>
						  <td th:text="${destino.valor}"></td>
						  <td>
							  <a th:href="@{/destino/destino/{id} (id=${destino.idDestino})}" class="btn btn-info">Detalhar</a>
							  <a th:href="@{/destino/{id}/editar-destino (id=${destino.idDestino})}"
							  		class="btn btn-warning">Editar</a>
							  <a th:href="@{/destino/{id}/excluir-destino(id=${destino.idDestino})}" 
							   class="btn btn-danger"
									onclick="return confirm('Tem certeza que deseja excluir o Destino?');">Excluir</a>
						  </td>
					  </tr>
				  </tbody>
			  </table>
			  <a href="/destino/cadastrar-destino" class="btn btn-secondary">Cadastre novo Destino</a>
			  <a href="/opcoes" class="btn btn-primary">Volte às opções</a>
		  </div>
		
      </div>
      <!--Rodapé-->
      <div class="estilo-rodape text-nav">
       <footer>
          MundoAlém
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <img src="../midia/facebook.jpg" width="30px" height="30px" title="logo do facebook">
            </div>
            <div class="col-md-1">
              <img src="../midia/linkedin.png" width="30px" height="30px" title="logo do LinkedIn">
            </div>
            <div class="col-md-1">
              <img src="../midia/instagram.jpg" width="30px" height="30px" title="logo do Instagram">
            </div>
          </div>
        </footer>

      </div>
    </div>
    <!--fim do rodapé-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>